@model Actor
@{
    ViewData["title"] = "Delete: " + Model.FullName;
}

<div class="row actors_entry">
    <div class="col-md-8 offset-md-2">
       
            <div class="form-group">
                <label asp-for="ProfilePicture"></label>
                <input asp-for="ProfilePicture" class="form-control" readonly />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" readonly />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio"></label>
            <textarea asp-for="Bio" class="form-control" readonly ></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="confirm" class="btn btn-outline-danger float-right" />
                </form>
               
                <a class="btn btn-outline-dark float-left" asp-action="Index">Show All Actors</a>
            
            </div>
    </div>
</div>